.card {
  background-color: #222;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  width: 200px;
  margin: 8px;
  .title {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .description {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .viewButton {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }

  .viewButton:hover {
    background-color: #fff;
    color: #000;
  }
}
